<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blackjack game</title>
</head>
<body>
	<h1>Blackjack</h1>

	<div>Balance: {{ game.getCurrentMoney }}</div>

	<h2>Player hand</h2>
	{{#game.getPlayerHand.cards}}
	<div>{{ face }} of {{ suit }}</div>
	{{/game.getPlayerHand.cards}}

	<div>Player total: {{ game.getPlayerTotal }}</div>

	<h2>Dealer hand</h2>
	{{#game.isGameOverHand}} 
		{{#game.getDealerHand.cards}}
			<div>{{ face }} of {{ suit }}</div>
		{{/game.getDealerHand.cards}}
	{{/game.isGameOverHand}}
	
	{{^game.isGameOverHand}}
		{{#game.getDealerHand.cards.0}}
			<div>{{ face }} of {{ suit }}</div>
		{{/game.getDealerHand.cards.0}}
		
	{{/game.isGameOverHand}} 
		

	<div>Dealer total: {{ game.getDealerTotal }}</div>
	
	

	{{^game.isGameOverHand}}
	<form method="get" action="/hit">
		<button>hit me</button>
	</form>

	<form method="get" action="/stand">
		<button>stand</button>
	</form>
	
	{{/game.isGameOverHand}} 
		
	{{#game.isDealerWon}} 
		Sorry, Dealer won. You lost. 
	{{/game.isDealerWon}} 
	{{#game.isPlayerWon}} 
		Player wins!	
	{{/game.isPlayerWon}} 
	{{#game.isDraw}} 
		Draw! 
	{{/game.isDraw}}
		
	{{^game.isGameOver}}
	<form method="get" action="/return">
		<button>Return</button>
	</form>
	{{/game.isGameOver}}
		
	{{#game.isGameOver}}
		<div>Game Over! You ran out of money!</div>
	{{/game.isGameOver}}

	<div>Cards in deck: {{ game.deck.cards.size }}</div>



</body>
</html>